/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
  * {
    font-family: Verdana, Arial, sans-serif;
  }
  .center {
    padding: 10px;
    text-align: center;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  .interim {
    color: gray;
  }
  .right {
    float: right;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }
  #start_button {
    border: 1;
    background-color:transparent;
    padding: 2;
  }
